  <app-principal></app-principal>
    <!--Pokemons-->
    
    <div class="container-fluid">
          <div class="row">
            <div class="col-sm-2 d-flex align-items-stretch" *ngFor="let pokemon of pokemons.pokemon">
              <div class="card" id="card" style="width: 100%">
                <img class="card-img-top" src="{{pokemon.img}}" alt="Card image cap">
                <div class="card-body border-top">
                  <p class="text"><span class="badge badge-light">{{pokemon.id}}</span> {{pokemon.name}}</p>
                </div>
              </div>
            </div>
          </div>
    </div>