  <div id="form" class="col-md-2">
    <form class="form-horizontal border" class="box" >
      <fieldset>
      
      <!-- Form Name -->
      <legend>Log In</legend>
      
      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-10 control-label" for="email">Email</label>  
        <div class="col-md-10">
        <input [(ngModel)]="email" id="email" name="email" type="email" placeholder="Your email" class="form-control input-md" required="">
          
        </div>
      </div>
      
      <!-- Password input-->
      <div class="form-group">
        <label class="col-md-10 control-label" for="passwod">Password</label>
        <div class="col-md-10">
          <input [(ngModel)]="password" id="password" name="password" type="password" placeholder="Your password" class="form-control input-md" required="">
          
        </div>
      </div>
      
      <!-- Button -->
      <div class="form-group">
        <label class="col-md-10 control-label" for="button"></label>
        <div class="col-md-10">
          <button (click)="login(email, password)" id="button" name="button" class="btn btn-primary">Log In</button>
        </div>
      </div>
      
      </fieldset>
    </form>
  </div>
  <div id="form"  class="col-md-2">
    <form class="form-horizontal border" class="box" >
      <fieldset>
      
      <!-- Form Name -->
      <legend>Sign In</legend>
      
      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-10 control-label" for="email">Email</label>  
        <div class="col-md-10">
        <input [(ngModel)]="emailC" id="emailc" name="email" type="email" placeholder="Your email" class="form-control input-md" required="">
          
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
          <label class="col-md-10 control-label" for="name">Name</label>  
          <div class="col-md-10">
          <input [(ngModel)]="nombreC" id="nombre" name="nombre" type="text" placeholder="Your name" class="form-control input-md" required="">
            
          </div>
        </div>
      
      <!-- Password input-->
      <div class="form-group">
        <label class="col-md-10 control-label" for="passwod">Password</label>
        <div class="col-md-10">
          <input [(ngModel)]="passwordC" id="passwordC" name="password" type="password" placeholder="Your password" class="form-control input-md" required="">
          
        </div>
      </div>
      
      <!-- Button -->
      <div class="form-group">
        <label class="col-md-10 control-label" for="button"></label>
        <div class="col-md-10">
          <button (click)="signin(emailC, passwordC, nombreC)" id="buttonC" name="button" class="btn btn-primary">Sign In</button>
        </div>
      </div>
      
      </fieldset>
    </form>
  </div>