<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>
<body>
  <div id="formulario" class="col-md-2">
    <form class="form-horizontal border" id="caja" >
      <fieldset>
      
      <!-- Form Name -->
      <legend>Log In</legend>
      
      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-10 control-label" for="email">Email</label>  
        <div class="col-md-10">
        <input [(ngModel)]="email" id="email" name="email" type="email" placeholder="Your email" class="form-control input-md" required="">
          
        </div>
      </div>
      
      <!-- Password input-->
      <div class="form-group">
        <label class="col-md-10 control-label" for="passwod">Password</label>
        <div class="col-md-10">
          <input [(ngModel)]="password" id="password" name="password" type="password" placeholder="Your password" class="form-control input-md" required="">
          
        </div>
      </div>
      
      <!-- Button -->
      <div class="form-group">
        <label class="col-md-10 control-label" for="button"></label>
        <div class="col-md-10">
          <button (click)="login(email, password)" id="button" name="button" class="btn btn-primary">Log In</button>
        </div>
      </div>
      
      </fieldset>
    </form>
  </div>
  <div id="formulario"  class="col-md-2">
    <form class="form-horizontal border" id="caja" >
      <fieldset>
      
      <!-- Form Name -->
      <legend>Sign In</legend>
      
      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-10 control-label" for="email">Email</label>  
        <div class="col-md-10">
        <input [(ngModel)]="emailC" id="email" name="email" type="email" placeholder="Your email" class="form-control input-md" required="">
          
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
          <label class="col-md-10 control-label" for="name">Name</label>  
          <div class="col-md-10">
          <input [(ngModel)]="nombreC" id="nombre" name="nombre" type="text" placeholder="Your name" class="form-control input-md" required="">
            
          </div>
        </div>
      
      <!-- Password input-->
      <div class="form-group">
        <label class="col-md-10 control-label" for="passwod">Password</label>
        <div class="col-md-10">
          <input [(ngModel)]="passwordC" id="password" name="password" type="password" placeholder="Your password" class="form-control input-md" required="">
          
        </div>
      </div>
      
      <!-- Button -->
      <div class="form-group">
        <label class="col-md-10 control-label" for="button"></label>
        <div class="col-md-10">
          <button (click)="signin(emailC, passwordC, nombreC)" id="button" name="button" class="btn btn-primary">Sign In</button>
        </div>
      </div>
      
      </fieldset>
    </form>
  </div>
        
</body>
</html>